body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#historico-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#historico-jogador1, #historico-jogador2 {
    width: 45%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}

#historico-jogador1 ul, #historico-jogador2 ul {
    list-style: none;
    padding: 0;
}

#historico-jogador1 li, #historico-jogador2 li {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}
